body {
  font-family: "Hind", sans-serif;
  text-shadow: 2px 2px 3px rgba(158, 100, 100, 0.2);
  background-color: rgba(164, 166, 173, 0.5);
  color: #2d2b2b;
  font-weight: 600;
}
.weather-app {
  border: 2px solid gray;
  border-radius: 10px;
  height: 580px;
  max-width: 500px;
  margin: 20px auto;
  display: block;
  cursor: default;
  background-image: linear-gradient(-225deg, #7085b6 0%, #87a7d9 90%);
}
.date-time {
  text-align: center;
  margin: 20px auto 5px;
  font-size: 17px;
  color: #f3c623;
}
.greeting {
  animation: fadeout 0.5s 2.5s;
  min-width: 155px;
  height: 30px;
  margin-left: -125px;
  text-align: center;
  position: fixed;
  z-index: 1;
  left: 55%;
  top: 30px;
  font-size: 17px;
  font-weight: 300px;
  border-radius: 5px;
  background-color: #2d2b2b;
  color: #f3c623;
}

/* seach bar */
.search-form {
  text-align: center;
  margin: 20px auto;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 22px;
}
#search-input {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#submit {
  border-radius: 10px;
  border: 1px solid black;
  background-color: #f3c623;
  padding: 5px;
  margin: auto 5px;
  font-weight: bolder;
  transition: all 150ms ease-in-out;
}

::placeholder {
  color: white;
}

#submit:hover {
  background-color: #d6ae20;
}
#location-button,
#random-button {
  background-color: transparent;
  color: #900d0d;
  border: none;
  font-size: 22px;
}

hr {
  border: 1px dotted rgba(243, 198, 35, 0.6);
  width: 100%;
  margin: 0;
}

/* current location */
#city {
  text-align: center;
  color: #f3c623;
  font-size: 30px;

  text-shadow: -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000, 0.5px -0.5px 0 #000,
    -0.5px -0.5px 0 #000;
}

.current-temp {
  text-align: center;
  margin-right: 0;
}

#current-temp {
  font-size: 43px;
}

.current-unit {
  font-size: 18px;
  position: relative;
  bottom: 18px;
}

.active {
  color: #2d2b2b;
  cursor: default;
}
.not-active {
  color: #f3c623;
  text-shadow: -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000, 0.5px -0.5px 0 #000,
    -0.5px -0.5px 0 #000;
}
.active:hover {
  color: #2d2b2b;
  text-decoration: none;
}

#icon {
  width: 110px;
  margin-bottom: 15px;
  position: relative;
  bottom: 20px;
}

.current-condition {
  font-size: 22px;
  margin: 0 auto;
  color: #f3c623;
}
.low {
  position: relative;
  left: 30px;
}
.high {
  position: relative;
  right: 30px;
}

.wind {
  position: relative;
  left: 60px;
}
.humidity {
  position: relative;
  right: 60px;
}
.high,
.low {
  bottom: 120px;
}
.humidity,
.wind {
  bottom: 110px;
}
.conditions {
  font-size: 20px;
  line-height: 3;
  text-align: center;
}
.conditions .fas {
  color: #900d0d;
}
/* forecast */
.forecast {
  font-size: 17px;
  margin: 0 30px;
  position: relative;
  bottom: 80px;
  border: 1px solid transparent;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.forecast img {
  width: 52px;
}
/* error page */
#error {
  color: #900d0d;
  text-shadow: none;
  text-align: center;
  margin-top: 35px;
  margin-left: 55px;
  font-size: 25px;
  width: 80%;
}
#reload {
  background-color: transparent;
  font-size: 100px;
  border: none;
}
#code-by {
  position: fixed;
  bottom: 0;
}
/* button hover message*/
#location-message {
  visibility: hidden;
  position: absolute;
  top: 72px;
  right: 265px;
  font-size: 10px;
  transition: all 150ms ease-in-out;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: ghostwhite;
  color: black;
  padding: 1px;
  opacity: 0.9;
}

#location-button:hover + #location-message {
  visibility: visible;
}
#random-message {
  display: none;
  position: absolute;
  top: 72px;
  right: 210px;
  font-size: 10px;
  transition: all 200ms ease-in-out;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: ghostwhite;

  color: black;
  padding: 1px;
  opacity: 0.9;
}

#random-button:hover + #random-message {
  display: inline;
}

.hide {
  display: none;
}

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@media screen and (max-width: 480px) and (orientation: portrait) {
  .weather-app {
    width: 100%;
    height: 100%;
    padding: 5px;
  }
  #icon {
    margin: 5px;
  }
}
